.main {
    width: 960px;
    margin: 0 auto;
}
.main-header-wrap {
    min-height: 120px;
}
.main-header {
    position: fixed;
    width: 100%;
    height: 107px;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: top .4s;
    z-index: 10;
}
.header-top {
    position: relative;
    width: 100%;
    height: 61px;
    background-color: #fff;
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
    z-index: 5;
}
.header-top .container {
    display: flex;
    align-items: center;
    height: 61px;
}
.container .logo {
    width: 98px;
    height: 41px;
    margin-right: 24px;
}
.container .nav {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    height: 60px;
    margin: 0;
}
.phone-hide {
    display: flex;
}
.nav-item {
    color: #71777c;
    padding: 0 14.4px;
    font-size: 16px;
    justify-content: center;
    cursor: pointer;
}
.nav-item.link-item {
    padding: 0 18px;
    height: 60px;
}
.nav-item a {
    color: #71777c;
}
.nav-item.search {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    cursor: auto;
}
.search-form {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;
    border: 1px solid hsla(0,0%,59.2%,.2);
    background-color: rgba(227,231,236,.2);
}
.search-form .search-input {
    width: 132px;
    padding: 7.2px 0 7.2px 12px;
    font-size: 13.2px;
    box-shadow: none;
    border: none;
    background-color: transparent;
    color: #666;
    outline: none;
}
.search-form .search-icon {
    padding: 0 6px;
    cursor: pointer;
}
::placeholder {
    color: #adaeae;
}


.nav .add-group {
    display: flex;
    align-items: center;
    position: relative;
    height: 32px;
    cursor: pointer;
}
.nav .add {
    display: flex;
    align-items: center;
    height: 100%;
}
.add-group .add-btn,
.add-group .more {
    height: 100%;
    color: #fff;
    background-color: #007fff;
    border-radius: 3px;
}
.add-group .add-btn {
    padding: 0 10.8px;
    font-size: 14px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.add-group .more {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 15px;
    border-left: 1px solid hsla(0,0%,100%,.1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.add-group .more .more-icon {
    margin-top: 2.4px;
    font-size: 12px;
}
.add-group .more .more-icon::before {
    content: '\e6aa';
}
.add-group .more-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 5px 0;
    font-size: 14px;
    color: #3b76c5;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    z-index: 1;
}
.add-group .more-list .item {
    padding: 0 0 0 9.6px;
    line-height: 1.9;
}
.add-group .more-list .item:hover {
    background-color: #f9f9f9;
}
.nav-item.auth {
    color:#007fff;
    padding: 0;
}
.nav-item .login {
    padding: 3.6px 19.2px;
    border: 1px solid #007fff;
    background-color: #fff;
    color: #007fff;
    line-height: 22.8px;
}
.nav-item.add,
.nav-item.search,
.nav-item.auth {
    cursor: default;
}
.nav-item .icon {
    font-size: 24px;
    color: #71777c;
}
.notification-icon::before {
    content: '\e64b';
}
.notification:hover .notification-icon::before{
    color:#007fff;
}
.nav-item:last-child {
    padding-right: 0;
}
.avatar {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-color: #eee;
}
.nav-item.menu {
    position: relative;
}
.nav-menu.user-dropdown-list {
    width: fit-content;
    min-width: 157.2px;
    right: -80px;
    left: auto;
}
.nav-menu {
    position: absolute;
    width: 132px;
    left: 50%;
    top: 44px;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    border: 1px solid rgba(177,180,185,.45);
    border-radius: 4px;
    font-size: 14.4px;
}
.nav-menu.user-dropdown-list .nav-menu-item-group:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.04);
}
.nav-menu .nav-menu-item-group {
    padding: 12px 0;
}
.nav-menu .nav-menu-item {
    font-size: 15.6px;
    cursor: pointer;
    white-space: nowrap;
}
.nav-menu .nav-menu-item:hover {
    background-color: #f8f8f8;
}
.nav-menu .nav-menu-item>a {
    display: flex;
    align-items: center;
    padding: 4px 12px;
}
.nav-menu .nav-menu-item>a>span {
    margin-left: 0;
    flex-grow: 1;
}
.item-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 9.6px;
    font-size: 14.4px;
    vertical-align: middle;
    color: #b2bac2;
}
.nav-menu .more {
    position: relative;
}
.nav-menu .more:hover .more-dropdown-list{
    display: block;
}
.more-dropdown-list {
    display: none;
    position: absolute;
    left: auto;
    top: 0;
    right: 59%;
}
.container .login {
    width: 72px;
    height: 31px;
    padding: 3.6px 19.2px;
    margin-left: 15px;
    border: 1px solid #007fff;
    background-color: #fff;
    color:#007FFF;
}
.header-buttom {
    height: 46px;
}
.header-buttom .nav-list {
    display: block;
    float: left;
    height: 46px;
    padding: 15px 12px 0 12px;
    font-size: 13.92px;
}
.header-buttom .nav-list:first-child {
    padding-left: 0;
}
.header-buttom .nav-list:last-of-type {
   float: right;
}
.header-buttom .nav-list-wrap {
    position: relative;
}
.header-buttom .nav-dropdown-list {
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #fff;
}
.nav-dropdown-list ul {
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
    width: 360px;
    height: 0;
    border-radius: 2px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%);
    background-color: #fff;
    overflow: hidden;
    opacity: 0;
    transition: height  0s linear .1s, opacity .5s,padding 0s linear .1s;
    clear: both;
    cursor:default;
}
.header-buttom .nav-list:hover .nav-dropdown-list ul{
    height: 100%;
    padding: 14px 14px 2px;
    opacity: 1;
}
.nav-dropdown-list ul li {
    height: 24px;
    padding: 0 10px;
    margin: 0 12px 12px 0;
    border-radius: 10px;
    background-color: #f4f5f5;
}
.nav-dropdown-list ul li a {
    display: block;
    height: 24px;
    font-size: 13.2px;
    line-height: 24px;
}
.nav-dropdown-list ul li:hover a{
    color:#0876e4;
}
